input[type="text"]{
    color: red; direction: rtl; text-align: center;
}
input[type="email"]{
    background-color: red;
    cursor: progress;
}
input[type="Number"]{
    text-align: right;text-shadow: 25px;
}
input[type="submit"]{
    cursor: grabbing;
}